* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Forgot {
    width: 100%;
    min-height: 100vh;
    background-image: url('../assets/images/autumn.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Forgot form {
    width: fit-content;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    border-radius: 1rem;
}

.Forgot form h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.Forgot form input {
    padding: .4rem;
    margin: .5rem;
    font-size: 1rem;
}

.Forgot form button {
    width: 100px;
    padding: .7rem;
    font-size: 1rem;
    border-radius: .5rem;
    margin-top: 1rem;
    background-color: dodgerblue;
    border: 1px solid dodgerblue;
    cursor: pointer;
    color: #fff;
}

.LoginPath {
    margin: 1rem .2rem;
}

.LoginPath a {
    margin-left: .2rem;
}